@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
:root{
    /* --green:#16a085; */
    --green:#2e5cd4bd;
    --black:#444;
    --light-color:#111;
    --box-shadow:.5rem .5rem 0 rgba(22, 160, 133, .2);
    --text-shadow:.4rem .4rem 0 rgba(0, 0, 0, .2);
    --border:.2rem solid var(--green);
}


*{
    font-family: "Noto Sans", sans-serif;
    margin:0; padding: 0;
    box-sizing: border-box;
    background: #dadaff;
    outline: none; border: none;
    text-transform: capitalize;
    transition: all .2s ease-out;
    text-decoration: none;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 7rem;
    scroll-behavior: smooth;
}

section{
    padding:2rem 9%;
}



.header{
    padding:2rem 9%;
    position: fixed;
    top:0; left: 0; right: 0;
    /* z-index: 1000; */
    box-shadow: 0 .5rem 1.5rem #000000c7;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #2e5dd4;
}

.header .logo{
    font-size: 2.5rem;
    color: white;
    background-color: #2e5dd4;
}

.header .logo i{
    color: #c0392b;
}

.header .navbar{
    background-color: #2e5dd4;
}

.header .navbar a{
    font-size: 1.7rem;
    color: white;
    margin-left: 2rem;
    background-color: #2e5dd4;
}

.header .navbar a:hover{
    color:red;
}
#menu-btn{
    font-size: 2.5rem;
    border-radius: .5rem;
    background: var(--green);
    color:#fff;
    padding: 1rem 1.5rem;
    cursor: pointer;
    display: none;
}

.d1{
    font-size: 40px;
   margin-top: 20px ;
   color: #555555;
}
.mt{
    margin-top: 70px;
}
.fs{
    font-size: 18px;

}
.dp1{
    font-size: 20px;
    margin-top: 15px ;
    margin-bottom: 35px;
   
    font-family: "Noto Sans", sans-serif;
}
.bene1{
    font-size: 20px;
    margin-bottom: 35px;
    margin-top: 10px;
    margin-left: 25px;
    line-height: 1.5;
}
footer{
    position: sticky;
    background: black;
    color: white;

}
.ftext{
    line-height: 3;
    text-align: center;
    font-size: 15px;
    background: black;
}

.Thead{
    font-size: 35px;
    margin-bottom: 15px;
}

.bottext{
    font-size: 20px;
}
.btnbot a{
    border: none;
    background-color: rgba(34, 34, 144, 0.896);
    color: white;
    padding: 7px;
    font-size: 14px;
    line-height: 2;
    border-radius: 5px;
    margin-left: 40vw;
}


.btnbot a:hover{
    background-color: rgb(31, 153, 31);
    color: white;
    cursor: pointer;
}